.airlogo{
  color: red;
  font-size: 2rem;
  padding-right: 8px;
}

.font-700 {
  font-weight: 700;
}

.container-fluid {
  max-width: 1600px;
}

.navbar {
  font-weight: 600;
}

.hero-img img {
  width: 100%;
}

.hero {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.hero-info a {
  font-weight: 600;
  font-size: 2rem;
}

.icons {
  font-size: 1.5rem;
}

.news-img {
  width: 100%;
  height: 6.5rem;
}

.cat-img{
  max-width: 100%;
  height: auto;
}

.container-bg {
  background-color: rgb(246, 246, 246);
}

.black-background {
  max-width: 100%;
  background-color: black;
}
